# Virtual Environment
.venv/
venv/
env/
ENV/

# Python Bytecode and Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-Specific
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Flask / Runtime logs & caches
instance/
.webassets-cache
pip-log.txt
pip-delete-this-directory.txt
